{% extends "dashboard/dashboard.html" %}

 {% block title %}Manager Dashboard{% endblock title %}
{% block tasks %}

    <div class="bg-white rounded-xl shadow-md mt-5">
        <div class="grid grid-cols-4 p-4 font-semibold text-gray-700 border-b border-gray-200">
            <div class="text-gray-400 text-sm task-serif">TASK TITLE</div>
            <div class="text-gray-400 text-sm task-serif">Priority</div>
            <div class="text-gray-400 text-sm task-serif">Team</div>
            <div class="text-gray-400 text-sm task-serif">Created At</div>
        </div>

        <div class="divide-y divide-gray-100">
            <div class="grid grid-cols-4 p-4 gap-4 items-center hover:bg-gray-50 transition text-sm text-left">
                <div class="flex items-center gap-2">
                    <div class="w-2 h-2 bg-green-600 rounded-full"></div>
                    <span>Test Low Tesk</span>
                </div>
                <div><p class="bg-blue-100 text-blue-600 w-14 rounded-xl flex justify-center items-center">Low</p></div>
                <div class="flex"> 
                    <div class="flex justify-center items-center w-6 h-6 rounded-full bg-blue-600 ">CA</div>
                    <div class="flex justify-center items-center w-6 h-6 rounded-full bg-blue-600 -ml-2">CA</div>
                    <div class="flex justify-center items-center w-6 h-6 rounded-full bg-blue-600 -ml-2">CA</div>
                </div>
                <div><p class="font-semibold text-gray-400">9 month ago</p></div>
            </div>
            <div class="grid grid-cols-4 p-4 gap-4 items-center hover:bg-gray-50 transition text-sm text-left">
                <div class="flex items-center gap-2">
                    <div class="w-2 h-2 bg-yellow-500 rounded-full"></div>
                    <span class="text-red-900">Test Task</span>
                </div>
                <div class="w-16 h-6 flex rounded-full bg-gray-100 justify-center items-center text-white-200">Normal</div>
                <div class="flex">
                    <div class="flex justify-center items-center w-6 h-6 rounded-full bg-blue-600 ">CA</div>
                    <div class="flex justify-center items-center w-6 h-6 rounded-full bg-blue-600 -ml-2">CA</div>
                    <div class="flex justify-center items-center w-6 h-6 rounded-full bg-blue-600 -ml-2">CA</div>
                </div>
                <div><p class="font-semibold text-gray-400">9 month ago</p></div>
            </div>
            <div class="grid grid-cols-4 p-4 gap-4 items-center hover:bg-gray-50 transition text-sm text-left">
                <div class="flex items-center gap-2">
                    <div class="w-2 h-2 bg-red-600 rounded-full"></div>
                    <span>Test Task</span>
                </div>
                <div class="bg-red-100 rounded-full w-14 flex justify-center items-center"><p class="text-red-400"></p>High</div>
                <div class="flex">
                    <div class="flex justify-center items-center w-6 h-6 rounded-full bg-blue-600 ">CA</div>
                    <div class="flex justify-center items-center w-6 h-6 rounded-full bg-blue-600 -ml-2">CA</div>
                    <div class="flex justify-center items-center w-6 h-6 rounded-full bg-blue-600 -ml-2">CA</div>
                </div>
                <div><p class="font-semibold text-gray-400">9 month ago</p></div>
            </div>
        </div>
    </div>


{% endblock tasks %}
